.main{
	margin-top: 100px;
}

.logo-img{
	width: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;

}

.search-input{
	width: 400px;
	line-height: 24px;
	display: block;
	border: 1px solid #dfe1e5;
	border-radius: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	margin-left: auto;
	margin-right: auto;
	
}

.btn{
	background-color: #f8f9fa;
	border: none;
	border-radius: 4px;
	padding: 0px 16px;
	display: inline-block;
	margin-top: 30px;
	margin-right: 4px;
	margin-left: 4px;
	font-size: 14px;
	line-height: 27px;

}

.boxhead a{
	text-decoration: none!important;
	text-align: 'center';
	color: #1a0dab;
	padding: 0px 3px;

}

.boxhead {
	justify-content: center;
	margin-top: 30px;
	line-height: 28px;
	color: #4d5156;
	display: flex;
	font-size: small;
	font-family: arial,sans-serif;
	margin-bottom: 24px;
}